<div class="about">
<div class="container">
  <div class="row justify-content-around">
      <img src="https://static.wixstatic.com/media/5f71b7_4b4d1209d1a041059a13d81020d59e6d~mv2.png">
      <p>Gustaf Westman Objects is a platform collecting objects designed by Gustaf Westman. The studio was founded in 2020 and is based in Stockholm, Sweden. The collection includes handcrafted single edition objects made by Gustaf in the studio as well as objects created in collaboration with selected Swedish wood workers.</p>
      <p class="quote">“I get inspired by almost everything. But for me it’s more about the things I need to do, to keep being inspired, for example I need to be around my friends and I always feel very creative after a run.“</p>
  </div>
</div>
</div>